// Change Log
//
// Styles specific to change log.
//
// Styleguide 7

.change-log {
	overflow-y: hidden !important; // Full view table component, hence hide the vertical scroll in all instances
}

.changelog-item-label {
	display: inline-block;
}

// Change Log Old Value
//
// Old value style for change log table.
//
// Markup:
// <span class="changelog-old-value">This is an old value.</span>
//
// .changelog-old-value - 
//
// Styleguide 7.1
.changelog-old-value {
	display: inline-block;
	line-height: 1.3;
	text-overflow: ellipsis;
	overflow: hidden;
	width: auto;
	max-width: 100%;
	vertical-align: middle;
	
	text-decoration: line-through;

	color: $changeLogOldValueColor;
}

// Change Log New Value
//
// New value style for change log table.
//
// Markup:
// <span class="changelog-new-value">This is a new value.</span>
//
// .changelog-new-value - 
//
// Styleguide 7.2
.changelog-new-value {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	width: auto;
	max-width: 100%;
	vertical-align: middle;
	
	line-height: 1.3;

	color: $changeLogNewValueColor;
}
