// DataNavigator
//
// These are styling rules for DataNavigator
//
//
//
// Styleguide 3.45
$dataNavigatorLabelBackgroundColor: $buttonBackgroundColor;
$dataNavigatorLabelStrokeColor: $dropdownWidgetButtonBorderColor;
$dataNavigatorTextRelationtipColor: $modalHeaderCloseIconColor;
$dataNavigatorTextSymbolFillColor: #A1A1A1;
$dataNavigatorTextSymbolFontWeight: 600;
$dataNavigatorLabelTextSize: 11px;
$dataNavigatorOverlayHeight: 600000px;
$dataNavigatorOverlayWidth: 600000px;
$dataNavigatorOverlayX: -300000px;
$dataNavigatorOverlayY: -300000px;

