@import 'roamer-constants';

.roamer-tree {

	svg {
		height: 100%;
		width: 100%;
		
		.overlay {
			pointer-events: all;
			fill: none;
			height: $dataNavigatorOverlayHeight;
			width: $dataNavigatorOverlayWidth;
			x: $dataNavigatorOverlayX;
			y: $dataNavigatorOverlayY;
		}

		.node {
			cursor: pointer;

			rect {
				fill: none;

				&.blue {
					fill: $lightBlueColor;
				}

				&.gray {
					fill: rgb(144, 179, 191);
					stroke: rgb(139, 147, 152);
				}

				&.white {
					fill: $dataNavigatorLabelBackgroundColor;
					stroke: $dataNavigatorLabelStrokeColor;
				}

				&.exit {
					fill-opacity: 0;
					stroke-opacity: 0;
				}
			}

			text {
				fill: $whiteColor;
				fill-opacity: 1;

				&.symbol {
					fill: $dataNavigatorTextSymbolFillColor;
					fill-opacity: 0;
					font-size: 1.9rem;
					font-family: 'Material Design Iconic Font';
					font-weight: $dataNavigatorTextSymbolFontWeight;
				}

				.text {
					font-size: 0.9rem;
					font-family: sans-serif;
				}

				&.item-name {
					font-size: 14px;
					font-weight: $dataNavigatorTextSymbolFontWeight;
				}

				&.rel-type {
					font-size: $dataNavigatorLabelTextSize;
					fill: $dataNavigatorTextRelationtipColor;
				}

				&.item-workspace,
				&.item-state {
					font-size: 11px;
				}
			}
		}

		.link {
			fill: none;
			stroke: $grayColor;
			stroke-width: 1.5px;
		}
	}
	a.dataNavigatorCloseBtn {
		position: absolute;
		top: 80px;
		left: 60px;
		background: $whiteColor;
		border: 1px solid $grayColor;
		padding: 5px;
		text-align: center;
		border-radius: 5px;
		color: $blackColor;
		text-decoration: none;
	}
}
