// Sticky
//
// Styles for sticky elements.
//
// Styleguide 27

// Sticky
//
// Sticky styles used for "No. of records" in workspace items page.
//
// Markup:
// <div class="row sticky" style="position:relative;">
// 	<div>
// 		<div>Number of records in this view: 0</div>
// 	</div>
// </div>
//
// .sticky - 
//
// Styleguide 27.1
.sticky {
	position: fixed;
	z-index: 10;
	left: 0;

	margin: 0;

	text-align: center;

	> div {
		font-size: 12px;

		padding: 4px 0;

		background: rgba(208, 208, 208, 0.7);
	}
}