// Tree View
//
// Styles for the tree view widget.
//
.tree-view {
	display: inline-block;

	vertical-align: top;

	.icon {
		cursor: pointer;
		pointer-events: auto;
	}
}

.tree-view-title {
	font-weight: bold;

	padding: $tdwCellPadding;
}

.tree-view-list li {
	padding: $tdwCellPadding;
}

.tree-view-nested-list {
	margin: {
		top: $tdwCellPadding;
		bottom: -$tdwCellPadding;
	}
}

.list-unstyled {
	padding: 0;
	margin: 0;
	list-style: none;
}