<md-dialog class="remove-item-dialog"
	aria-label="{{$root.bundle.text.removeConfirmation}}">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="remove-item-header">
				{{$root.bundle.text.removeConfirmation}}
			</h2>
		</div>
	</md-toolbar>

	<md-dialog-content>
		<div class="md-dialog-content" layout="row">
			<div flex="5"><i class="zmdi zmdi-alert-triangle"></i></div>
			<div ng-if="removeItemCtrl.itemCount === 1">
				{{$root.bundle.text.removeSingleItemConfirmation}}
			</div>
			<div ng-if="removeItemCtrl.itemCount > 1">
				{{$root.bundle.text.removeMultipleItemsConfirmation}}
			</div>
		</div>
	</md-dialog-content>

	<md-dialog-actions layout="row" layout-align="end center">
		<md-button class="md-primary"
			aria-label="{{$root.bundle.button.confirm}}"
			ng-click="removeItemCtrl.confirm()">
			{{$root.bundle.button.confirm}}
		</md-button>
		<md-button aria-label="{{$root.bundle.button.cancel}}"
			ng-click="removeItemCtrl.cancel()">
			{{$root.bundle.button.cancel}}
		</md-button>
	</md-dialog-actions>
</md-dialog>
