<div id="plm-footer" class="footer-row-wrapper">
    <div class="footer-row">
        <div id="footer-copyright" class="plm-footer-text-wrapper">
            <span>{{$root.bundle.footer.copyright}}</span>
        </div>
        <div id="footer-privacy-policy" class="plm-footer-text-wrapper">
            <a ng-href="{{$root.bundle.footer.privacyPolicyLink}}" target="_blank">
                {{$root.bundle.footer.privacyPolicyText}}
            </a>
        </div>
        <div id="footer-terms-and-conditions" class="plm-footer-text-wrapper">
            <a ng-href="{{$root.bundle.footer.termsAndConditionsLink}}" target="_blank">
                {{$root.bundle.footer.termsAndConditionsText}}
            </a>
        </div>
    </div>
</div>
