@charset "UTF-8";
@font-face {
	font: {
		family: 'ui-grid';
		weight: normal;
		style: normal;
	}
	src: url('../fonts/ui-grid.eot');
	src: url('../fonts/ui-grid.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ui-grid.woff') format('woff'),
		 url('../fonts/ui-grid.ttf') format('truetype'),
		 url('../fonts/ui-grid.svg#ui-grid') format('svg');
}

%uiGridFontDefinition {
	font: {
		family: 'ui-grid';
		weight: normal;
		style: normal;
		variant: normal;
	}
	text-transform: none;
	line-height: 1;
	speak: none;

	// Better font rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Extend font definition to classes containing "icon-" but omitting "icon-a360", "icon-plm" & "glyphicon-"
[class*="ui-grid-icon-"] {
	@extend %uiGridFontDefinition;
}

.ui-grid-icon-plus-squared:before {
  content: '\c350';
}
/* '썐' */
.ui-grid-icon-minus-squared:before {
  content: '\c351';
}
/* '썑' */
.ui-grid-icon-search:before {
  content: '\c352';
}
/* '썒' */
.ui-grid-icon-cancel:before {
  content: '\c353';
}
/* '썓' */
.ui-grid-icon-info-circled:before {
  content: '\c354';
}
/* '썔' */
.ui-grid-icon-lock:before {
  content: '\c355';
}
/* '썕' */
.ui-grid-icon-lock-open:before {
  content: '\c356';
}
/* '썖' */
.ui-grid-icon-pencil:before {
  content: '\c357';
}
/* '썗' */
.ui-grid-icon-down-dir:before {
  content: '\c358';
}
/* '썘' */
.ui-grid-icon-up-dir:before {
  content: '\c359';
}
/* '썙' */
.ui-grid-icon-left-dir:before {
  content: '\c35a';
}
/* '썚' */
.ui-grid-icon-right-dir:before {
  content: '\c35b';
}
/* '썛' */
.ui-grid-icon-left-open:before {
  content: '\c35c';
}
/* '썜' */
.ui-grid-icon-right-open:before {
  content: '\c35d';
}
/* '썝' */
.ui-grid-icon-angle-down:before {
  content: '\c35e';
}
/* '썞' */
.ui-grid-icon-filter:before {
  content: '\c35f';
}
/* '썟' */
.ui-grid-icon-sort-alt-up:before {
  content: '\c360';
}
/* '썠' */
.ui-grid-icon-sort-alt-down:before {
  content: '\c361';
}
/* '썡' */
.ui-grid-icon-ok:before {
  content: '\c362';
}
/* '썢' */
.ui-grid-icon-menu:before {
  content: '\c363';
}
/* '썣' */
.ui-grid-icon-spin5:before {
  content: '\ea61';
}
/* '' */